.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
    background-color: #1e3a6b;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-logo img {
    width: 100px;
}

.nav-logo p {
    color: #e6e6e6;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #e6e6e6;
}

.nav-login-profile {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-login-profile button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 75px;
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    background: #1e3a6b;
    cursor: pointer;
}

.nav-login-profile img {
    margin-top: 5px;
    width: 75px;
}

.nav-login-profile button:active {
    background: #101f38;
}

.nav-dropdown {
    display: none;
}